<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTracker Pro - Simulador Controlado</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    
    
</head>
<body>
    <div class="search-box-container">
        <button id="menu-toggle" onclick="toggleMenu()">☰</button>
        <input type="text" id="map-search" placeholder="Buscar lugar...">
        <button id="search-action-btn">🔍</button>
    </div>
    <div class="map-save-container">
        <input type="text" id="map-name-input" value="Mapa 1">
        <button id="btn-save-map" title="Guardar Mapa actual">💾</button>
    </div>
    <div class="draw-tools-container">
        <button id="btn-main-draw" class="main-draw-btn">✏️ Dibujar</button>

        <div class="dropdown-wrapper">
            <button id="btn-draw-dropdown" class="dropdown-arrow-btn">▼</button>

            <div id="draw-dropdown-menu" class="dropdown-menu">
                <button class="dropdown-item" id="btn-draw-circle">⭕ Circular</button>
                <button class="dropdown-item" id="btn-draw-coords">📍 Coordenadas exactas</button>
            </div>
        </div>
    </div>

    <div class="geofence-creator-panel" id="geo-panel">
        <div class="geofence-header" id="geo-panel-header">
            <span>Geocerca</span>
            <span id="geo-panel-arrow" class="arrow-icon">︾</span>
        </div>
        
        <div class="geofence-content" id="geo-panel-content">
            <input type="text" id="geo-panel-name" placeholder="Nombre de la zona...">
            
            <div class="coord-list-container">
                <ul id="geo-coord-list">
                    </ul>
            </div>

            <div class="geo-panel-actions">
                <button id="btn-geo-cancel" class="geo-btn-cancel">Cancelar</button>
                <button id="btn-geo-confirm" class="geo-btn-confirm">Confirmar</button>
            </div>
            <button id="btn-geo-save" class="geo-btn-save">Guardar Geocerca</button>
        </div>
    </div>
    
    <div id="sidebar">
        <h2>GeoTracker Pro</h2>
        <p>Panel de Control</p>
        
        <div style="background:#252526; padding:10px; border-radius:8px; margin-bottom:20px;">
            <div style="font-size:12px; color:#aaa;">Estado del Sistema:</div>
            <div id="app-status" style="font-size:13px; font-weight:bold; color: white; margin-top: 5px;">
                En espera...
            </div>
        </div>

        <button class="nav-link" onclick="startDrawing(); highlightButton(this)">✏️ Dibujar Zona</button>
        <button class="nav-link" onclick="openCoordModal(); highlightButton(this)">📍 Seleccionar Coordenadas</button>
        <button id="btn-save" class="nav-link" style="display: none; border: 1px solid #28a745;" onclick="saveCurrentZone()">💾 Guardar Zona</button>
        
        <button class="nav-link" onclick="startSimulationSetup(); highlightButton(this)">🏃‍♂️ Simular Ruta</button>
        <button class="nav-link" onclick="stopSimulation(); resetHighlights();">🛑 Detener / Borrar Ruta</button>
        
        <button class="nav-link"  onclick="window.location.href='/profile'">
            👤 Volver a Mi Perfil
        </button>
        <button class="nav-link" onclick="clearAllZones()">🗑️ Borrar Mis Zonas</button>
        <button class="nav-link" style="margin-top: 20px; color: #ff6b6b !important; border: 1px solid #ff6b6b; "onclick="window.location.href='/'">Cerrar Sesión</button>
    </div>

    <div id="map"></div>
        <div id="alert-box"><span>SISTEMA SEGURO</span></div>

    <div id="coordModal" class="modal-overlay">
        <div class="modal-content glass">
            <h3>Área por Coordenadas</h3>
            <p>Ingresa 4 puntos (Lat, Lng):</p>
            
            <div class="coord-inputs">
                <input type="text" id="p1" placeholder="Punto 1: 19.33, -99.11">
                <input type="text" id="p2" placeholder="Punto 2: 19.33, -99.10">
                <input type="text" id="p3" placeholder="Punto 3: 19.32, -99.10">
                <input type="text" id="p4" placeholder="Punto 4: 19.32, -99.11">
            </div>

            <div class="modal-buttons">
                <button class="btn-stop" onclick="closeCoordModal()" style="width: 45%; display: inline-block;">Cancelar</button>
                <button class="btn-sim" onclick="processCoordinates()" style="width: 45%; display: inline-block;">Crear Área</button>
            </div>
        </div>
    </div>
        <div id="saveModal" class="modal-overlay" style="display:none;">
        <div class="modal-content glass">
            <h3>💾 Guardar Geocerca</h3>
            <p>Asigna un nombre para identificar esta zona:</p>
            <input type="text" id="geoName" placeholder="Ej: Bellas Artes" class="coord-inputs" style="width: 100%; margin: 15px 0;">
            <div class="modal-buttons">
                <button class="btn-stop" onclick="closeSaveModal()">Cancelar</button>
                <button class="btn-sim" onclick="confirmSave()">Guardar</button>
            </div>
        </div>
    </div>
</body>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</html>