<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GeoTracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="particles-js"></div> <div class="overlay"></div>
        <div class="overlay"></div> <main class="main-content">
    <div class="header">
        <h1 id="typewriter-text"></h1>
    </div>

    <div class="login-card">
        <h2>Iniciar Sesión</h2>
        <form id="loginForm">
            <div class="input-group">
                <input type="email" id="email" placeholder="Usuario" required>
            </div>
            <div class="input-group">
                <input type="password" id="password" placeholder="Contraseña" required>
            </div>
            <button onclick="handleLogin()" class="btn-main">Entrar</button>
        </form>
        <div id="msg" class="message"></div>
        <div class="footer-links">
            <p>¿No tienes cuenta? <a href="/register-view">Regístrate aquí</a></p>
        </div>
    </div>
</main>


<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{{ url_for('static', filename='particles-config.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>