/* Centrado específico para pantallas de acceso */
.auth-body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5vh;
}

.main-content {
    position: relative;
    z-index: 3; 
    text-align: center;
    width: 100%;
    max-width: 400px;
}

#typewriter-text {
    font-size: 5rem; 
    display: inline;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    font-weight: bold; 
    color: white;
}

.login-card {
    width: 100%;
    max-width: 380px;
    padding: 20px 30px; 
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.input-group input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: white;
    outline: none;
    box-sizing: border-box;
}

.btn-main {
    width: 100%;
    padding: 12px;
    background: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-main:hover {
    background: #ccc;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.footer-links a {
    color: #00d4ff;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: #00d4ff; 
    text-decoration-thickness: 2px;
}